
<ng-container *ngIf="speechForm">
<form [formGroup]="speechForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label  class="control-label">Title</label>
    <input type="text" class="form-control" formControlName="title">
  </div>
  <div class="form-group">
    <label class="control-label">Content</label>
    <textarea cols="30" rows="10" class="form-control" formControlName="content"></textarea>
  </div>
  <div class="form-group">
    <label class="control-label">Author</label>
    <input type="text" class="form-control" formcontrolName="author">
  </div>
  <div class="form-group">
    <label class="control-label">Keywords</label>
    <input type="text" class="form-control" formControlName="keywords">
  </div>
  <div class="form-group">
    <label class="control-label">Date</label>
    <input type="date" class="form-control" fornControlName="date">
  </div>
  <button type="button" class="btn btn-default" [disabled]="!(!!speech.id)" (click)="onDelete()">Delete</button>
  <button type="submit" class="btn btn-primary" [disabled]="!speechForm.valid">Save</button>
  <button type="button" class="btn btn-default" [disabled]="!(!!speech.id)" (click)="toggleShare()">Share</button>
</form>
</ng-container>
