
<ng-container *ngIf="speeches">
  <div class="list-group">
  <a class="list-group-item"
    *ngFor="let speech of speeches"
    (click)="onSelect(speech)">
    {{speech.title}}
  </a>
</div>
</ng-container>
