<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" (click)="onAdd()">new Speech</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="card-body">
          <speech-search-form (onSearched)="onSearch($event)"></speech-search-form>
        </div>
        <ng-container *ngIf="speeches && speeches.length">
          <div class="card-body">
            <speeches [speeches]="speeches" (onSelected)="onSelected($event)"></speeches>
          </div>
          
        </ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <ng-container *ngIf="speech">
        <div class="card">
          <div class="card-header">
            <div class="card-title">{{speech?.id ? speech.title : 'Add New Speech'}}</div>
          </div>
          <div class="card-body">
            <speech-form [speech]="speech" (onDeleted)="onDelete($event)" (onSaved)="onSave($event)"></speech-form>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>